# 目标芯片
CONFIG_IDF_TARGET="esp8266"

# 【最核心修改】锁死 26MHz 晶振，解决 WiFi 无法锁频和串口乱码
CONFIG_ESP8266_XTAL_FREQ_26=y
CONFIG_ESP8266_XTAL_FREQ=26

# 【核心修改】锁定 2MB 内存，适配 c8 芯片
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="2MB"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_SPI_FLASH_SIZE=0x200000

# 性能设置：160MHz 保证 DAP 时序稳定
CONFIG_ESP8266_DEFAULT_CPU_FREQ_160=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_MHZ=160

# 日志波特率：26MHz 晶振下启动波特率就是 74880，我们锁死它
CONFIG_ESP_CONSOLE_UART_BAUDRATE=74880
CONFIG_ESPTOOLPY_MONITOR_BAUD_74880B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=74880

# 分区表：2MB 内存禁用 OTA 分区，使用单分区模式最稳
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_FILENAME="partitions_singleapp.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# 编译优化：Release 减小体积
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

# 核心功能开启
CONFIG_ESPHTTPD_ENABLED=y
CONFIG_USE_WEBSOCKET_DAP=n
